# ================================
# SUPABASE
# ================================
NEXT_PUBLIC_SUPABASE_URL= 'https://bkvdbifbdfbbfkdbfdnbfkdbfbzkjdbfkd.supabase.co/'
NEXT_PUBLIC_SUPABASE_ANON_KEY= 'sb_publishable_tyh82T8iMbwo1DmixDOXww_4ENhrWO9'
SUPABASE_SERVICE_ROLE_KEY=

# ================================
# STRIPE
# ================================
STRIPE_SECRET_KEY= 'bbfdsbkjfbshbfhbsdhfbshdbfd'
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= 'bfisdbfhdbsdhbfsbahbgfsidbgbsfdbfhsdbbfhdsbfjd'
STRIPE_WEBHOOK_SECRET=

# ================================
# EMAIL (Resend)
# ================================
RESEND_API_KEY=

# ================================
# APP
# ================================
NEXT_PUBLIC_APP_URL=http://localhost:3000